.general{
    &-hero-container{
        width: 100%;
        height: 20rem;
        background-image: url('../assets/judgement.jpg');
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        &-content{
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.85);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 2rem;
            h1{
                margin: 0;
                font-size: 5rem;
                color: white;
            }
        }
    }
    .contents{
        margin-bottom: 4rem;
        padding: 0 4rem;
        .bold{
            font-weight: bold;
        }
        h2{
            font-weight: 400;
            line-height: 0.25rem;
            margin-bottom: 2rem;
        }
        p, li{
            font-weight: lighter;
            line-height: 2;
            color: rgb(71, 71, 71);
        }
        table{
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            tr{
                th, td{
                    color: rgb(71, 71, 71);
                    padding: 10px 15px;
                    border-bottom: 1px solid #ddd;
                    text-align: left;
                    font-weight: lighter;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .general{
        &-hero-container{
            height: 10rem;
            &-content{
                h1{
                    font-size: 2em;
                }
            }
        }
        .contents{
            margin: 1rem 0.5rem;
            padding: 0;
        }
        table{
            font-size: 0.7em;
            width: 50%;
        }
    }
}