.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #fff;
  
  .logo-container{
    width: 10%;
  }
  
  &__logo {
    padding: 0.5rem 0.5rem;
    width: 100%;
    height: auto;
    animation: heartbeat 4s infinite; 
    cursor: pointer;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    25% {
      transform: scale(0.9);
      opacity: 0.1;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    75% {
      transform: scale(0.9);
      opacity: 0.1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  &__links {
    padding: 1rem 2rem;
    display: flex;
    list-style: none;
    margin: 0;

    li {
      margin-left: 1.5rem;

      a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: #f0a500;
        }
      }
    }
  }

  &__hamburger {
    display: none;
    flex-direction: column;
    padding: 1rem 2rem;
    cursor: pointer;

    &-line {
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 4px 0;
      transition: all 0.3s ease;
    }
  }
  
  @media (max-width: 768px) {
    .navbar{
      .logo-container{
        width: 20%;
      }
    }
  
    .navbar__links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: black;
        position: absolute;
        top: 60px;
        left: 0;
  
        &.active {
            display: flex;
        }
  
        li {
            margin: 1rem 0;
            text-align: center;
        }
      }
  }
}
